<div class="panel" >
        <div class="panel-header">
            <h4>ผู้สูงอายุที่ได้รับการคัดกรอง ADL จำแนกตามสมรรถนะในอำเภอ{{older[0]['ampname']}}</h4>
        <p class="description">
            {{data[0]['ampname']}}
            ประมวลผลล่าสุดเมื่อ {{older[0]['last_calc']}}
        </p>
        </div>  
   <div class="panel-content">     
        <table id="example" class="table striped hovered">
            <thead>
                <tr>
                    <th rowspan="3" valign="top">อำเภอ</th>
                    <th rowspan="3">ผู้สุงอายุเฉพาะอยู่จริง(คน)</th>
                    <th rowspan="3">คัดกรอง</th>
                    <th rowspan="3">%</th>
                    <th colspan="6">แบ่งตามสมรรถนะ</th>
                </tr>
                    <tr>
                    <th colspan="2">ติดสังคม</th>
                    <th colspan="2">ติดบ้าน</th>
                    <th colspan="2">ติดเตียง</th>
                </tr>
                <tr>
                    <th>จำนวน</th>
                    <th>%</th>
                    <th>จำนวน</th>
                    <th>%</th>
                    <th>จำนวน</th>
                    <th>%</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="o in older">
                    <td>{{o.hospname}}</td>
                    <td align="center">{{o.pop_old|number}}</td>
                    <td align="center">
                        <div ng-if="o.t0<1">0</div>
                        <div ng-if="o.t0>0">{{o.t0|number}}</div>      
                    </td>
                    <td align="center">{{(o.t0*100)/o.pop_old|number:2}}</td>
                    <td align="center">
                        <div ng-if="o.t1<1">0</div>
                        <div ng-if="o.t1>0">{{o.t1|number}}</div>    
                    </td>
                    <td align="center">{{(o.t1 * 100)/o.pop_old| number:2 }}</td>
                    <td align="center">
                        <div ng-if="o.t2<1">0</div>
                        <div ng-if="o.t2>0">{{o.t2|number}}</div>                            
                    </td>
                    <td align="center">{{(o.t2 * 100)/o.pop_old| number:2 }}</td>
                    <td align="center">
                        <div ng-if="o.t3<1">0</div>
                        <div ng-if="o.t3>0">{{o.t3|number}}</div>                            
                    </td>
                    <td align="center">{{(o.t3 * 100)/o.pop_old| number:2 }}</td>
                </tr>
            </tbody>
        </table>
        <div ng-hide="dataloaded==true" align='center'>
            <i class="ion-loading-c" style="font-size: 32px;"></i>กำลังประมวลผล...
        </div>
    </div>
</div>
