<div class="flex-grid demo-grid">
    <div class="row cell-auto-size">
        <div class="cell colspan12">
            <h4> <small></small></h4>
            <blockquote>
                <h4>ประชากรผู้สูงอายุ การแบ่งตามอายุ และการอยู่อาศัยในอำเภอ{{older[0]['ampname']}}</h4>
                <small>ประมวลผลล่าสุดเมื่อ {{older[0]['last_calc']}}</small>
            </blockquote>
            <div class="clearfix"></div>
            <div class="align-right">
                <a href="#/pop_older1" class="button success"><i class="icon mif-chevron-left"></i> กลับ</a>
                <button class="image-button success">
                    Excel
                    <span class="icon mif-file-excel bg-darkGreen"></span>
                </button>
                <button class="image-button success">
                    Print
                    <span class="icon mif-printer bg-darkGreen"></span>
                </button>
            </div>

            <!--<hr  class="bg-gray"/>-->
            <table id="example" class="table striped hovered cell-hovered border bordered" width="100%">
            <thead>
                <tr>
                    <th rowspan="3" valign="top">หน่วยบริการ</th>
                    <th rowspan="3">ประชากรอยู่จริงทั้งหมด(คน)</th>
                    <th rowspan="3">ผู้สุงอายุเฉพาะอยู่จริง(คน)</th>
                    <th rowspan="3">%</th>
                    <th colspan="8">แยกตามช่วงวัย</th>
                    <th colspan="4">แยกตามการอยู่อาศัย</th>
                </tr>
                    <tr>
                    <th colspan="2">60-69 ปี</th>
                    <th colspan="2">70-79 ปี</th>
                    <th colspan="2">80-89 ปี</th>
                    <th colspan="2">90 ปีขึนไป</th>
                    <th colspan="2">อยู่คนเดียว</th>
                    <th colspan="2">อยู่กับครอบครัว</th>
                </tr>
                <tr>
                    <th>จำนวน</th>
                    <th>%</th>
                    <th>จำนวน</th>
                    <th>%</th>
                    <th>จำนวน</th>
                    <th>%</th>
                    <th>จำนวน</th>
                    <th>%</th>
                    <th>จำนวน</th>
                    <th>%</th>
                    <th>จำนวน</th>
                    <th>%</th> 
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="o in older">
                    <td>{{o.hospname}}</td>
                    <td align="center">{{o.pop_all|number}}</td>
                    <td align="center">{{o.pop_old|number}}</td>
                    <td align="center">{{(o.pop_old*100)/o.pop_all|number:2}}</td>
                    <td align="center">{{o.pop_o1|number}}</td>
                    <td align="center">{{(o.pop_o1 * 100)/o.pop_old| number:2 }}</td>
                    <td align="center">{{o.pop_o2|number}}</td>
                    <td align="center">{{(o.pop_o2 * 100)/o.pop_old| number:2 }}</td>
                    <td align="center">{{o.pop_o3|number}}</td>
                    <td align="center">{{(o.pop_o3 * 100)/o.pop_old| number:2 }}</td>
                    <td align="center">{{o.pop_o4|number}}</td>
                    <td align="center">{{(o.pop_o4 * 100)/o.pop_old| number:2 }}</td>
                    <td align="center">{{o.alone|number}}</td>
                    <td align="center">{{(o.alone * 100)/o.pop_old| number:2 }}</td>
                    <td align="center">{{o.wf|number}}</td>
                    <td align="center">{{(o.wf * 100)/o.pop_old| number:2 }}</td>
                </tr>
            </tbody>
            </table>

            <div ng-hide="dataloaded == true" align='center'>
                <span style='padding-left: 45px;'><i data-role="preloader" data-type="ring"  data-style="color"></i><small>กำลังประมวลผล....</small></span>
                <!--<i class="ion-loading-c" style="font-size: 32px;"></i>กำลังประมวลผล...-->
            </div>
        </div>
    </div>
</div>