<h3>
    Long Term Care Information System
</h3>
<p class="description">
    ระบบสารสนเทศ การดูแลสุขภาพระยะยาว
</p>
<div class="flex-grid" ng-controller="homeController">
    <div class="row cell-auto-size">
        <div class="cell colspan12" style="padding: 5px;">
            <div class="carousel" data-role="carousel"  data-height="200" data-control-next="<span class='mif-chevron-right'></span>" data-control-prev="<span class='mif-chevron-left'></span>">
                <div class="slide"><img src="img/ltc1.jpg" data-role="fitImage" data-format="fill"></div>
                <div class="slide"><img src="img/ltc2.jpg" data-role="fitImage" data-format="fill"></div>
            </div>
        </div>
    </div>

</div>
<div class="flex-grid"  ng-controller="homeController">
    <div class="row cell-auto-size">
        <div class="cell colspan12" style="padding: 5px;">
            <highchart id="chart1" config="highchartsNG"></highchart>   
        </div>
    </div>
</div>

<!--
<div class="panel" ng-controller="homeController">
    <div class="panel-header">
        <h3> {{controllerName}}</h3>
        <p class="description">
            ประมวลผลล่าสุดเมื่อ {{older[0]['last_calc']}}
        </p>
    </div>  
    <div class="panel-content">
        <table id="example" class="table striped hovered">
            <thead>
                <tr>
                    <th>อำเภอ</th>
                    <th>ประชากรอยู่จริงทั้งหมด(คน)</th>
                    <th>ผู้สุงอายุเฉพาะอยู่จริง(คน)</th>
                    <th>ร้อยละ</th>
                    <th>วันที่ประมวลผล</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="o in older">
                    <td>{{o.name}}</td>
                    <td align="center">{{o.pop_all|number}}</td>
                    <td align="center">{{o.pop_old|number}}</td>
                    <td align="center">{{(o.pop_old * 100)/o.pop_all|number:2}}</td>
                    <td align="center">{{o.last_calc}}</td>
                </tr>
            </tbody>
        </table>
        <div ng-hide="dataloaded == true" align='center'>
            <i class="ion-loading-c" style="font-size: 32px;"></i>กำลังประมวลผล...
        </div>
    </div>
</div> -->
